.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
}

/* Logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;
}

/* Navigation */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: var(--color-primary);
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Icon Container */
.cart-icon-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Icon */
.cart-icon-container .material-symbols-outlined {
    font-size: var(--letter-size-lg);

    display: flex;
    align-items: center;
}

/* Badge */
/* .cart-badge {
    position: absolute;

    top: -6px;
    right: -10px;

    background-color: #ff4d4f;
    color: white;

    padding: 2px 5px;
    border-radius: 50%;

    min-width: 16px;
    text-align: center;
} */

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
}

main > div {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 20px;
    font-size: 14px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: var(--color-text-secondary);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--color-primary);
}