.order-detail-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.back-button {
  width: fit-content;

  background: transparent;
  border: none;

  cursor: pointer;

  color: #89acff;

  font-weight: 600;
}

.header-content {
  display: flex;

  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

.header-content h1 {
  margin: 0;
  color: white;
}

.header-content p {
  color: #9ca3af;
}