.summary {
  background: var(--medium-black-color);
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  border: 1px solid var(--medium-gray-color);
}

.summary h2 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #aaa;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}

.checkout-btn {
  margin-top: var(--spacing-lg);
  width: 100%;
}