.checkout-page {
  min-height: 100vh;
  background-color: var(--gray-color);
  color: var(--white-color);
}

.checkout-container {
  max-width: var(--max-width-lg);
  margin: auto;
  padding: var(--spacing-lg);

  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
}

.checkout-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-indicator {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.step-indicator span {
  opacity: 0.4;

  position: relative;

  transition: var(--transition-fast);
}

.step-indicator span.active {
  opacity: 1;
  font-weight: bold;
  color: var(--blue-color)
}

.step-indicator span.active::after {
  content: "";
  position: absolute;
  
  left: 0;
  bottom: -4px;

  width: 100%;

  height: 2px;

  background: var(--blue-color);
}

.checkout-right {
  position: static;
}

/* TABLET */
@media (min-width: 768px) {
  .checkout-container {
    padding: 30px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .checkout-container {
    grid-template-columns: 2fr 1fr;
    padding: 40px;
  }
}

/* ONLY desktop sticky */
@media (min-width: 1024px) {
  .checkout-right {
    position: sticky;
    top: 100px;
  }
}