.checkout-page {
  min-height: 100vh;
  background-color: var(--gray-color);
  color: var(--white-color);
}

.checkout-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.checkout-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkout-right {
  position: static;
}

/* TABLET */
@media (min-width: 768px) {
  .checkout-container {
    padding: 30px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .checkout-container {
    grid-template-columns: 2fr 1fr;
    padding: 40px;
  }
}

/* ONLY desktop sticky */
@media (min-width: 1024px) {
  .checkout-right {
    position: sticky;
    top: 100px;
  }
}