.order-item-card {
  display: flex;
  align-items: center;

  gap: 1rem;

  padding: 1rem;

  border-radius: 14px;

  background:
    rgba(255,255,255,0.03);
}

.order-item-card img {
  width: 70px;
  height: 70px;

  object-fit: cover;

  border-radius: 12px;
}

.order-item-card h3 {
  margin: 0;
}

.order-item-card strong {
  margin-left: auto;
}