.shipping-form {
  background: var(--medium-black-color);
  padding: var(--spacing-lg);
  border-radius: var(--radius-md);
  border: 1px solid var(--medium-gray-color);
  box-shadow: var(--shadow-md);

  transition: var(--transition-fast);
}

.shipping-form:hover {
  transform: translateY(-2px);
}

.shipping-form h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-md);
}

.grid .full {
  grid-column: span 1;
}

.form-actions {
  margin-top: var(--spacing-lg);

  display: flex;

  justify-content: flex-end;
}

/* TABLET */
@media (min-width: 768px) {
  .grid {
    grid-template-columns:  1fr 1fr;
  }

  .grid .full {
    grid-column: span 2;
  }
}