:root {
  /* Colors */
  --product-card-background-color: rgba(0, 0, 0, .2);
  --product-card-image-background-color: rgba(255, 255, 255, .25);
  --product-title-color: rgba(40, 100, 255, 1);
  --product-description-color: rgba(255, 255, 255, 1);
  --product-price-color: rgba(255, 180, 20, 1);

  /* Borders */
  --product-card-border: 1px solid rgba(200, 200, 200, 1);
  --product-card-image-border: 1px solid rgba(255, 255, 255, 1);


  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;

  /* Container */
  --max-width: 1200px;
}