.summary {
  background: var(--gray-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--medium-gray-color);
}

.totals {
  margin-top: 20px;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px;

  background: var(--blue-color);
  border: none;
  color: var(--white-color);

  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.checkout-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}