.info-card-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.info-card-container label {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;

  color: #9ca3af;
}

.info-card-container div {
  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 14px;

  padding: 1rem;
}
