.input-field {
  display: flex;
  flex-direction: column;
}

.input-field label {
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--medium-gray-color);
}

.input-field input {
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  border: 1px solid transparent;
  background: var(--medium-black-color);
  color: var(--white-color);

  transition: var(--transition-fast);
}

.input-field input:focus {
  outline: none;
  border: 1px solid var(--blue-color);
  box-shadow: 0 0 0 2px rgba(40, 100, 255, 0.2);
}

.input-field.error input {
  border: 1px solid var(--error-color);
}

.error {
  color: var(--error-color);
  font-size: var(--letter-size-md);
  margin-top: 4px;
}